body {
    font-family: Arial;
    text-align: center;
    padding: 0 20px;
    min-width: 370px;
    background: rgb(255,95,109);
    background: linear-gradient(90deg, 
        rgba(255,95,109,1) 0%, 
        rgba(255,195,113,1) 100%
    );
}
